/* Reset */ html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: rgb(255,255,255);
	color: rgb(136,136,136);
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.inner-wrapper {
	margin: 0 auto;
	max-width: 940px;
	padding:10px;
}

a, a:visited { color: inherit; }
a:hover { color: rgb(45,166,222); }

.site-nav ul {
	font-size: 18px;
	list-style-type: none;
	margin: 20px 0 0 0;
}
.site-nav li {
	display: inline;
}
.site-nav li + li {
	border-left: 1px solid rgba(255,255,255,0.4);
	margin-left: 20px;
	padding-left: 20px;
}
.site-nav li a {
	color: rgba(255,255,255,0.6);
	display: inline-block;
	text-decoration: none;
}
.site-nav li a:hover { color: rgb(255,255,255); }
.site-nav li a:active { color: rgba(255,255,255,0.6); }

.site-main { padding: 40px; }

.blog-post {
	color: rgb(76,76,76);
	margin-bottom: 40px;
}

.post-header a { text-decoration: none; }
.post-footer {
	color: rgb(136,136,136);
	font-size: 14px;
	font-style: italic;
}
.post-footer h4 { display: inline; }
.post-content { margin-bottom: 10px; }
.post-content h2 { margin-bottom: 20px; }
.post-content p { margin-bottom: 20px; }


.blog-footer {
	color: rgb(136,136,136);
	font-size: 14px;
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
}

.pagination .home, nav.pagination .previous { float: left; }
.pagination .next { float: right; }
.pagination a { text-decoration: none; }

/* Default text styles */
h1, h2, h3, p { margin-bottom: 20px; }
em { font-style: italic; }
strong { font-weight: 700; }
ol, ul { margin:0 0 20px 40px; }
ol ol, ol ul, ul ol, ul ul { margin:0 0 0 20px; }
pre {
	background-color: rgb(239,239,239);
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 10px 6px;
	overflow: scroll;
}
code {
	background-color: rgb(239,239,239);
	border-radius: 3px;
	font-family: monospace;
	padding: 0 4px;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}
hr {
	background-color: rgb(239,239,239);
	border: none;
	height: 1px;
}
blockquote {
	border-left: 2px solid rgb(239,239,239);
	padding-left: 40px;
}
